﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.logo-btn {
    height: 50px;
    width: 200px;
    display:block;
    background-image: url('img/team4talent-logo-white-green.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
