﻿@model FollowIt.Bi.Models.Person_Employee

@{
    ViewBag.Title = Model.Person.FullName;
}

<h2>Employee Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Person.FullName)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMcsdCertified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMcsdCertified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoRunningContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoRunningContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoRunningContractStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoRunningContractStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoachUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCoupledToCandidate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCoupledToCandidate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
