﻿@model IEnumerable<FollowIt.Bi.Models.Person_Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMcsdCertified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoRunningContract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoRunningContractStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCoupledToCandidate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMcsdCertified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoRunningContract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoRunningContractStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoachUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCoupledToCandidate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
